<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang không tồn tại</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Trang chủ</a></li>
          <li class="main-header__item"><a href="/">Gọi món</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>404 - Trang không tồn tại</h1>
      <p>Xin lỗi, trang bạn đang tìm kiếm không tồn tại.</p>
    </main>
  </body>
</html>
