<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head.ejs") %>
  <body>
    <%- include("includes/client-navigation.ejs") %>
    <main>
      <h1>404 - Trang không tồn tại</h1>
      <p>Xin lỗi, trang bạn đang tìm kiếm không tồn tại.</p>
    </main>
  </body>
</html>
