<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm sản phẩm</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/admin/add-product">Thêm sản phẩm</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form class="product-form" action="/admin/add-product" method="post">
        <div class="form-control">
          <label for="title">Tên sản phẩm</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-control">
          <label for="imageUrl">URL hình ảnh</label>
          <input type="text" id="imageUrl" name="imageUrl" />
        </div>
        <div class="form-control">
          <label for="price">Giá</label>
          <input type="number" id="price" name="price" required />
        </div>
        <div class="form-control">
          <label for="description">Mô tả</label>
          <textarea id="description" name="description" rows="5"></textarea>
        </div class="form-control">
        <button type="submit">Thêm sản phẩm</button>
      </form>
    </main>
  </body>
</html>
