.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid;
  font: inherit;
  border-radius: 2px;
  box-sizing: border-box;
}

.form-control textarea {
  resize: vertical;
}

button {
  font: inherit;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #215732;
  color: white;
}
